<% if forecast.empty? %>
  <h2> Ups, we couldn't find that city </h2>
<% else %>

  <div class="panel panel-default">

    <div class="panel-heading">
      <h3 class="panel-title">
        <%= city.gsub('-', ' ').split(' ').map(&:capitalize).join(' ') %>
      </h3>
    </div>

    <div class="panel-body">
        <% forecast['DailyForecasts'].each do |day_forecast| %>
          <div class="col-md-2">
            <div>
              <span class="week-day"><%= Date.parse(day_forecast['Date']).to_time.to_formatted_s(:week_day) %></span>
              <span class="month-day"><%= Date.parse(day_forecast['Date']).to_time.to_formatted_s(:day_month) %></span>
            </div>
            <hr />
            <%= image_tag "weather/#{day_forecast['Day']['Icon']}.png" %>
            <p>
              <span class="max-temperature">
                <%= day_forecast['Temperature']['Maximum']['Value']%> °
              </span>
              /
              <span class="min-temperature">
                <%= day_forecast['Temperature']['Minimum']['Value']%> °
              </span>
            </p>
            <p>
              <%= day_forecast['Day']['IconPhrase'] %>
            </p>
            <br />
          </div>
      <% end %>
    </div>

  </div>
<% end %>
